main div {
    width: max-content;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    resize: none;
}

.open_menu_button {
    display: none;
}
.open_menu_text {
    user-select: none;
    cursor: pointer;
}
.open_menu_img {
    width: 27px;
    vertical-align: middle;
}

.menu_content ul {
    list-style-type: none;
}

.item_title {
    margin: 0;
    padding: 0;
    user-select: none;
}

.add_people {
    display: flex;
}
.add_people label {
    cursor: pointer;
}
.add_people input {
    display: none;
}
.add_people img {
    vertical-align: middle;
    margin-left: 5px;
}

.open_menu_member_img {
    width: 20px
}
.band_member_name {
    margin-top: 0;
    height: 0;
}