/* Header */
header {
    width: 100svw;
    
    background-color: #000;
    color: #fff;
}

.title {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 30px;
}
.title img {
    width: 80svw;
}