/* Header */
header {
    height: 100svh;
    width: 100svw;
    
    background-color: var(--primary-color);
}

.title {
    margin: 0;

    width: max-content;

    text-align: center;
}
