/* Menu open animations */
/* Fade background */
@keyframes menu_open {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(0, 0, 0, 0.75);
    }
}
@keyframes menu_close {
    from {
        background-color: rgba(0, 0, 0, 0.75);
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}
.menu_open_animation {
    animation: menu_open 150ms ease-in;
}
.menu_close_animation {
    animation: menu_close 150ms ease-in;
}

/* Content slide */
@keyframes menu_slide_in {
    from {
        left: -100%;
    } to {
        left: 0;
    }
}
@keyframes menu_slide_out {
    from {
        left: 0;
    } to {
        left: -100%;
    }
}
.menu_slide_in {
    animation: menu_slide_in 150ms linear;
}
.menu_slide_out {
    animation: menu_slide_out 150ms linear;
}

/* Menu button */
#open_menu {
    display: none;
}

.menu-icon {
    height: 24px;

    cursor: pointer;
}

/* Main menu */
#menu {
    display: none;

    position: absolute;
    top: 0;

    z-index: 10;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.75);
}

#menu_content {
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100vh;
    width: 20vw;
  
    transition: 150ms ease-in;

    background-color: var(--primary-color);
}
.menu-close {
    display: block;
    margin-left: auto;

    height: 24px;

    cursor: pointer;
}

/* Menu content */
#theme {
    display: none;
}