:root {
    --text: #000;
    --background: #fff;
    --primary-color: #8fb4ff;
    --secondary-color: #ebf1ff;
    --accent: #ff8f94;
}

html, body {
    margin: 0;
    height: 100vh;

    color: var(--text);
    font-family: 'Inter', sans-serif;

    transition: 150ms ease-in;

    background-color: var(--background);
}

nav {
    position: absolute;
    top: 0;

    width: 100vw;

    margin: 0;

    background-color: var(--primary-color);
}

footer {
    position: absolute;
    bottom: 0;

    height: 2.5em;
    width: 100vw;

    background-color: var(--primary-color);
}