:root {
    --text: #000;
    --background: #fff;
    --primary-color: #8fb4ff;
    --secondary-color: #ebf1ff;
    --accent: #ff8f94;
}

html, body {
    margin: 0;
    height: 100vh;

    color: var(--text);
    font-family: 'Inter', sans-serif;

    transition: 150ms ease-in;

    background-color: var(--background);
}

nav {
    display: block;
    margin-top: auto;

    width: 100vw;

    margin: 0;

    background-color: var(--secondary-color);
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-row-gap: 10px;

    margin-bottom: auto;
    padding: 10px;

    background-color: var(--secondary-color);
}

footer p, footer ul {
    margin: 0;

    list-style: none;
}

footer li {
    margin-left: 15px;
}

.links a {
    color: var(--text);

    text-decoration: none;
}

.disclaimer li {
    font-size: 8px;
}