/* nav select sections */
.page-section {
    display: flex;
    flex-direction: column;

    justify-content: center;

    position: absolute;
    right: 0;
    top: 50vh;

    z-index: 100;
}
.nav-section-select {
    display: flex;
    justify-content: center;

    width: 32px;
    height: 32px;

    border:solid white 1px;
    border-radius: 50%;

    background-color: #000A1A80;
}
.nav-section-select img {
    width: 24px;
}
.page-section a:nth-of-type(1) {
    rotate: -90deg;
}
.page-section a:nth-of-type(2) {
    rotate: 90deg;
}

/* background gradiant */
.follow-gradiant {
    position: sticky;
    top: 0;
    left: 0;

    z-index: -10;
}
.background-gradiant,
.gradiant {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

.background-gradiant {
    background: radial-gradient(at center, #0000 0%, var(--background) 75%);
    z-index: -1;
}
.gradiant {
    background: linear-gradient(45deg, var(--secondary), var(--primary));
    z-index: -2;
}


/* header */
header {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-image:
            linear-gradient(to bottom, #0000, #0000, var(--background)),
            url("../../assets/webp/concert.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title-container {
    position: relative;

    height: max-content;
    width: max-content;
}

.header-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background);
}

.header-title {
    margin: 0;
    padding: 10px;
    height: max-content;

    text-align: center;

    background-image: linear-gradient(45deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    backdrop-filter: blur(2px);
}

/* Add break when small screen */
@media only screen and (max-width: 850px) {
    .company-name::after {
        content: '\a';
        white-space: pre;
    }
}
@media only screen and (max-width: 550px) {
    .header-title {
        font-size: 27px;
    }
}
@media only screen and (max-width: 370px) {
    .header-title {
        font-size: 25px;
    }
}

/* main content */
.main-item {
    padding-top: 20px;
    min-height: 100vh;
    height: min-content;
}