
/* Add band menu */
.item_title, .band_member_name {
    margin: 0;
    padding: 0;
    user-select: none;
}

.add_people {
    display: flex;
}


.open_menu_member_img {
    width: 20px
}

.people div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 5px;
}
.people div p {
    margin: 0;
}

/* Edit band menu */
#band_edit, #band_add {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 350px;
    max-height: 450px;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.1);
}

.edit_band_band, .add_band_band {
    position: relative;

    margin: 5px;
    padding: 5px;

    width: 43%;

    border: 1px solid rgba(0, 0, 0, 0.2);
}
.edit_band_band p, .add_band_band p {
    margin: 0;
}

.band_attributes {
    padding-left: 10px;
    margin: 0;
    font-size: small;
}

#edit_band_members > ul {
    position: relative;
}


