/* Menu open animations */
/* Fade background */
@keyframes menu_open {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(0, 0, 0, 0.75);
    }
}
@keyframes menu_close {
    from {
        background-color: rgba(0, 0, 0, 0.75);
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}
.menu_open_animation {
    animation: menu_open 150ms ease-in;
}
.menu_close_animation {
    animation: menu_close 150ms ease-in;
}

/* Content slide */
@keyframes menu_slide_in {
    from {
        left: -100%;
    } to {
        left: 0;
    }
}
@keyframes menu_slide_out {
    from {
        left: -13px;
    } to {
        left: -100%;
    }
}
.menu_slide_in {
    animation: menu_slide_in 150ms linear;
}
.menu_slide_out {
    animation: menu_slide_out 150ms linear;
}

/* Menu background */
.menu-background {
    display: none;

    position: absolute;
    top: 0;

    z-index: 10;

    height: 100svh;
    width: 100svw;

    background-color: rgba(0, 0, 0, 0.75);
}

/* Nav menu */
/* Menu button */
#open_menu {
    display: none;
}

.menu-icon {
    height: 24px;

    cursor: pointer;
    user-select: none;
}

/* Main menu */
#menu_content {
    position: absolute;
    top: 0;
    left: -13px;
  
    height: 100svh;
    width: 20svw;
  
    transition: 150ms ease-in;

    background-color: var(--primary-color);
}
.menu-close {
    display: block;
    margin-left: auto;

    height: 24px;

    cursor: pointer;
    user-select: none;
}

/* Menu content */
#theme {
    display: none;
}


/* Login menu */
/* Basic things like background and dimentions */
#login_button {
    display: none;
}
#login_menu_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: min-content;
    width: 30svw;

    padding: 10px;

    z-index: 15;

    background-color: var(--background);
}

/* Input fields */
.login-form {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-row-gap: 10px;
}

.input-border {
    position: absolute;

    height: 5px;
    width: 0;

    transition: 250ms ease-in;

    background-color: greenyellow;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 40svh;

    aspect-ratio: 1 / 1;
}