.tickets-and-admission {
    position: relative;
}

.show-case {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 10px;

    justify-items: center;
    align-items: center;

    width: 100vw;
    height: max-content;
    margin: 0;
    padding: 0;
}

/* Showcase items */
.showcase-item {
    display: grid;
    grid-template-rows: repeat(2, max-content);

    padding: 5px;
    width: 25vw;

    align-items: center;

    background-color: rgba(0, 0, 0, 0.25);
}
.event-date {
    text-align: right;
}

.showcase-item h3 {
    margin: 0;
}

.price {
    margin: 0;
}

/* Band showcases */
.band-showcase {
    display: flex;
    flex-direction: row;

    grid-column: 1 / span 2;
}

.band-showcase-item {
    padding: 5px;
    display: none;
}
.band-name {
    animation: fadeInOut 5s linear infinite;
}

.more-events {
    display: block;

    width: 100vw;
    text-align: center;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1210px) {
    .show-case {
        grid-template-columns: repeat(2, 50%);
    }
    .showcase-item {
        width: 75%;
    }
}

@media only screen and (max-width: 900px) {
    .show-case {
        grid-template-columns: 100%;
    }
    .showcase-item:nth-of-type(n+4){
        display: none;
    }
}