:root {
    --text: #000;
    --background: #fff;
    --primary-color: #8fb4ff;
    --secondary-color: #ebf1ff;
    --accent: #ff8f94;
}

html, body {
    margin: 0;
    overflow-x: hidden;

    color: var(--text);
    font-family: 'Inter', sans-serif;

    transition: 150ms ease-in;

    background-color: var(--background);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;

    width: 100svw;

    margin: 0;
    padding: 13px;

    background-color: var(--secondary-color);
}

/* Login button */
.login {
    position: relative;

    border: solid 2px var(--text);
    border-radius: 20px;

    padding: 5px;
    padding-left: 23px;
    margin-right: 75px;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
    user-select: none;

    color: var(--text);
    background-color: var(--background);
}
.login img {
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(2, 50svw);
    grid-row-gap: 10px;

    margin-bottom: auto;
    padding: 10px;

    background-color: var(--secondary-color);
}

footer p, footer ul {
    margin: 0;

    list-style: none;
}
footer li {
    margin-left: 15px;
}

.links a {
    color: var(--text);

    cursor: pointer;

    text-decoration: none;
}
.disclaimer li {
    font-size: 8px;
}