/* Everything on the page */
main div {
    width: max-content;
}
textarea {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    resize: none;
}


/* Individual big menus */
.menu_content ul {
    margin: 0;
    list-style-type: none;
}
.menu_content h3 {
    margin: 3px 0 0 0;
}


/* Adding / removing people */
.people div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 5px;
}
.people div p {
    margin: 0;
}

.item_title, .band_member_name {
    margin: 0;
    padding: 0;
    user-select: none;
}


/* The band select menu */
#band_edit, #band_add, #event_add, #event_edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 350px;
    max-height: 450px;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.1);
}

#edit_band_members > ul {
    position: relative;
}

/* The bands in the band select menu */
.edit_band_band, .add_band_band {
    position: relative;

    margin: 5px;
    padding: 5px;

    width: 43%;

    border: 1px solid rgba(0, 0, 0, 0.2);
}
.edit_band_band p, .add_band_band p {
    margin: 0;
}

/* Info on those bands */
.band_attributes {
    padding-left: 10px;
    margin: 0;
    font-size: small;
}

/* Add event */
.added_bands {
    width: 100%;
}
.added_bands > .edit_band_band {
    width: max-content;
}
.added_bands > .edit_band_band > div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 5px;
}

/* Error / Success msg */
@keyframes move_up {
    0% {
        top: -75px;
    } 50% {
        top: 10px;
    } 100% {
        top: -75px;
    }
}

.message {
    position: absolute;

    width: 20vw;
    height: max-content;
    padding: 7px;
    margin: auto;

    text-align: center;
    line-height: 30px;

    left: 0;
    right: 0;

    animation: move_up;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
}
.succ_msg {
    background-color: rgb(150, 200, 150);
    border: solid 2px rgb(120, 170, 120);
    border-radius: 3px;
}
.err_msg {
    background-color: rgb(230, 130, 130);
    border: solid 2px rgb(200, 115, 115);
    border-radius: 3px;
}